%div{ id: dom_id(post), class: "#{dom_class(post)} bottom-margin-5" }
  %h2.post-title
    = link_to(post.title, ecm_blog.url_for(post))
  %small
    %span.post-creation-information.text-muted
      = "#{l(post.created_at)} | #{post.creator.try(:human)}"
    |
    %span.comments-information
      = link_to(t('ecm.comments.commentable.comments_information', comments_count: post.comments.count), ecm_blog.post_url(post, anchor: 'comments'))
    |
    %span.post-tags
      = tag_labels_for(post)

  .post-body.truncate-lines-3
    = post.body(format: :html).html_safe